<% @book_title = "Edit book" %>

<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books edit">
  <h2>Update book</h2>

  <%= form_for(@book) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update book") %>
    </div>

  <% end %>
</div>