<h1>Book#index</h1>
<p>Find me in app/views/book/index.html.erb</p>


#Template File Naming

#index.html.erb
#process with : ERB
#Output format: HTML
# <% code %> processes ruby code
#<%= code %> outputs ruby code

# <a href="/category/index"> index page</a>
# helper method link_to
#<%= link_to(text, target) %>
#<%= link_to("Home", {:action => 'hello'}) #for same controller must add controller if different 
# video links 4:47 about the which route it chooses.??

# params[:id]
# params['id']